<nav>
    <div class="site-title">
      <a href="/"><h1>Photography Blog </h1></a>
      <p class="site-subtitle">A photography service located in Finland</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>