<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include("./partials/nav.ejs") %>

        <div class="blogs content">
          <h2> About us and services</h2>
          <p class="blog-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a leo consectetur nisi iaculis mollis et ut neque. Maecenas sem erat, feugiat quis ullamcorper at, tempor sit amet velit. Quisque enim velit, hendrerit sed varius id, dictum sit amet orci. Aliquam erat volutpat. Donec feugiat ex sed venenatis sollicitudin. Donec eget dui euismod, pellentesque purus non, tincidunt quam. Maecenas vehicula venenatis mauris, non ultricies justo pulvinar congue. Maecenas egestas, justo ut luctus malesuada, elit magna cursus felis, in iaculis orci metus ut nibh. Aliquam quis iaculis sem. Vestibulum ultrices eget magna quis porttitor. Proin nibh lectus, varius eget faucibus ut, placerat at erat.
          </p>
          <p class="blog-content">
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras nisi diam, tristique vitae laoreet sit amet, auctor eget massa. Curabitur nec massa augue. Pellentesque tortor diam, dictum eu arcu a, tincidunt scelerisque massa. Cras vitae porta elit, maximus molestie leo. Aenean quis sodales elit. Nulla interdum non nulla ac elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare viverra erat. Nam aliquam luctus odio id venenatis.
          </p>
          
        </div>
        <%-  include('./partials/footer.ejs') %>
    </body>
 
</html>